akro==0.0.8
cached-property==1.5.2
dm-control==1.0.3
dm-env==1.5
dm-tree==0.1.7
dowel==0.0.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-polyfill==1.0.2
gym==0.17.2
pandas==1.4.2
path==16.4.0
path.py==12.5.0
pathspec==0.7.0
pep8==1.7.1
pep8-naming==0.7.0
prettytensor @ git+https://github.com/neocxi/prettytensor.git@564941199cdef8a9c8a570de51e04ce860714ed1
pytest==7.1.1
tabulate==0.8.9
termcolor==1.1.0
torch==1.11.0
Tree==0.2.4
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
sympy==1.10.1
git+https://github.com/rlworkgroup/garage.git@master